
*, ::before, ::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	--dark-1: #232327;
	--dark-2: #323238;
}

body {
	overflow-x: hidden;
	background-color: var(--dark-1);
	min-height: 100vh;
}

main {
	color: #ffffff;
	white-space: pre;
	font-family: Consolas;
}

.drop {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.drop h1 {
	color: #ddd;
	margin: 0.6em 0;
}

.drop p {
	color: #ccc;
	margin: 0.2em 0;
}

.tabs {
	display: flex;
	list-style: none;
	padding: 0 6px;
	background-color: var(--dark-2);
}

.tab {
	display: flex;
	min-width: 0;
	align-items: center;
	padding: 6px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}

.tab:hover {
	background-color: #2b2b30;
}

.tab.active {
	color: #59acfa;
	background-color: #232327;
}

.tab-name {
	overflow: hidden;
	text-overflow: ellipsis;
}

.tab-remove {
	width: 24px;
	height: 24px;
	display: block;
	border: none;
	background: none;
	border-radius: 4px;
	cursor: pointer;
	fill: #bbb;
	margin-left: 6px;
}

.tab-remove > svg {
	width: 24px;
	height: 24px;
}

.tab-remove:hover {
	background-color: #47474d;
	fill: #fff;
}

.panels {
	display: flex;
	position: sticky;
	z-index: 10;
	top: 0;
	justify-content: center;
	list-style: none;
	background-color: #232327;
}

.panel {
	display: flex;
	min-width: 0;
	align-items: center;
	font-size: 18px;
	padding: 6px 12px;
	margin: 6px 0;
	color: #aaa;
	border-bottom: 2px solid transparent;
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}

.panel:hover {
	color: #ddd;
}

.panel.active {
	color: #fff;
	border-color: #ddd;
}

.report {
	display: grid;
	gap: 20px;
	padding: 10px 30px
}

.card {
	padding: 10px;
	background-color: var(--dark-2);
	border-radius: 8px;
	overflow: hidden;
}

.card-title {
	margin-bottom: 10px;
}

.card-key {
	color: #aaa;
}

.card.tick-graph {
	display: flex;
	height: 150px;
	position: relative;
	padding: 0;
}

.tick-value {
	width: 100%;
	position: relative;
}

.tick-value::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: calc(146px * var(--value) / var(--goal));
	background-color: var(--color);
}

.tick-value:hover::before {
	outline: 1px solid #fff;
	z-index: 1
}

.tick-value:hover::after {
	counter-reset: value var(--value);
	content: counter(value);
	position: absolute;
	margin: 0 4px;
	z-index: 1;
	bottom: 0;
	left: 100%;
	pointer-events: none;
	color: #fff;
	filter: drop-shadow(0 0 4px black);
}

.tick-value:nth-last-child(-n+50):hover::after {
	right: 100%;
	left: initial;
}

.tick-title, .tick-info {
	position: absolute;
	top: 0;
	margin: 10px;
	z-index: 1;
	filter: drop-shadow(0 0 4px black);
}

.tick-title {
	left: 0;
}

.tick-info {
	right: 0;
}

.card.collection-card .card-value {
	display: inline-block;
	background-color: #0b5ca7;
	padding: 4px 8px;
	margin-right: 8px;
	border-radius: 6px;
}
