
*, ::before, ::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	--dark-1: #232327;
	--dark-2: #323238;
}

body {
	min-height: 100vh;
	overflow-x: hidden;
	background-color: var(--dark-1);
}

a {
	color: inherit;
}

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #ffffff;
	font-family: Consolas, monospace;
}

.drop {
	padding-top: 50px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.drop h1 {
	color: #eee;
	margin: 0.6em 0;
}

.drop p {
	color: #bbb;
	margin: 0.2em 0;
}

.error {
	position: fixed;
	bottom: 0;
	left: 0;
	margin: 10px 10px;
	padding: 10px 15px;
	background-color: #792415;
	border-radius: 8px;
	box-shadow: 1px 1px 4px -2px black;
}

.error p:first-child {
	margin-right: 30px;
}

.error p {
	margin: 5px 0;
	color: #ddd;
}

.error ul {
	margin-left: 20px 
}

.error-message {
	color: #fff;
	font-weight: bold;
	font-size: 18px;
}

.error-close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px 15px;
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}

.tabs {
	position: fixed;
	width: 100%;
	z-index: 10;
	display: flex;
	list-style: none;
	padding: 0 6px;
	background-color: var(--dark-2);
}

.tab {
	position: relative;
	display: flex;
	min-width: 0;
	align-items: center;
	padding: 6px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}

.tab:not(:first-child):after {
	content: '';
	position: absolute;
	left: -0.5px;
	top: 7px;
	bottom: 7px;
	width: 1px;
	background-color: #666;
}

.tab.active::after,
.tab.active + .tab:after {
	content: none;
}

.tab:hover {
	background-color: #2b2b30;
}

.tab.active {
	color: #59acfa;
	background-color: #232327;
}

.tab.new-report {
	cursor: initial;
	flex-shrink: 0;
}

.tab.new-report:hover {
	background-color: transparent;
}

.tab-name {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.tab-button {
	width: 24px;
	height: 24px;
	display: block;
	border: none;
	background: none;
	border-radius: 4px;
	cursor: pointer;
	fill: #bbb;
}

.tab-name + .tab-button {
	margin-left: 6px;
}

.tab-button > svg {
	width: 24px;
	height: 24px;
}

.tab-button:hover {
	background-color: #47474d;
	fill: #d75252;
}

.tab.new-report .tab-button:hover {
	fill: #78d752;
}

.panels {
	display: flex;
	position: fixed;
	width: 100%;
	z-index: 10;
	top: 35px;
	justify-content: center;
	list-style: none;
	background-color: #232327;
}

.panel {
	display: flex;
	min-width: 0;
	align-items: center;
	font-size: 18px;
	padding: 0 12px 6px;
	margin: 8px 0;
	white-space: nowrap;
	color: #aaa;
	border-bottom: 2px solid transparent;
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}

.panel:hover {
	color: #ddd;
}

.panel.active {
	color: #fff;
	border-color: #ddd;
}

.report {
	margin-top: 80px;
}

.report .panels {
	justify-content: flex-start;
	position: initial;
	z-index: initial;
}

.report .panel {
	margin: 0;
	font-size: 16px;
}

.report {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: 20px;
	padding: 0 30px
}

.card {
	padding: 10px;
	background-color: var(--dark-2);
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 1px 1px 4px -2px black;
}

.card-title span {
	color: #bbb;
	margin-left: 10px;
}

.card-title + .card-properties,
.card-title + .card-text {
	margin-top: 10px;
}

.card-key {
	color: #aaa;
}

.card-property.altered .card-key {
	color: #79acdb;
}

.card-property.altered .card-value {
	color: #59acfa;
}

.card.graph {
	display: flex;
	height: 150px;
	position: relative;
	padding: 0;
}

.graph-value {
	width: 100%;
	position: relative;
}

.graph-value::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: calc(146px * var(--value) / var(--goal));
	background-color: var(--color);
}

.graph-value:hover::before {
	outline: 1px solid #fff;
	z-index: 1
}

.graph-value:hover::after {
	counter-reset: value var(--value);
	content: counter(value);
	position: absolute;
	margin: 0 4px;
	z-index: 1;
	bottom: 0;
	left: 100%;
	pointer-events: none;
	color: #fff;
	filter: drop-shadow(0 0 4px black);
}

.graph-value:nth-last-child(-n+50):hover::after {
	right: 100%;
	left: initial;
}

.graph-title, .graph-info {
	position: absolute;
	top: 0;
	margin: 10px;
	z-index: 1;
	filter: drop-shadow(0 0 4px black);
}

.graph-title {
	left: 0;
}

.graph-info {
	right: 0;
}

.collection-list {
	display: flex;
	flex-wrap: wrap;
}

.collection-list .card-value {
	background-color: #0b5ca7;
	padding: 4px 8px;
	margin: 8px 8px 0 0;
	border-radius: 6px;
}

.card.table {
	padding: 8px 0;
	overflow: unset;
}

.table-row {
	display: grid;
	position: relative;
	align-items: center;
	gap: 15px;
	justify-content: space-between;
	padding: 5px 10px;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}

.table-row:nth-child(2n) {
	background-color: #2c2c31;
}

.table-body .table-row:hover {
	background-color: #26262a;
}

.table-head {
	border: none;
	border-bottom: 2px solid #555;
	position: sticky;
	padding: 8px 10px;
	top: 77px;
	z-index: 10;
	background-color: var(--dark-2);
	font-weight: bold;
}

.table-head .table-column {
	white-space: nowrap;
}

.table-foot {
	display: flex;
	justify-content: center;
	padding: 5px 0;
}

.table-row + .table-foot {
	border-top: 2px solid #555;
}

.table-foot > * {
	padding: 0 8px;
}

.table-action {
	color: #bbb;
	cursor: pointer;
}

.table-action:hover {
	color: #fff;
}

.table-row.level-0 { padding-left: 10px; }
.table-row.level-1 { padding-left: 30px; }
.table-row.level-2 { padding-left: 50px; }
.table-row.level-3 { padding-left: 70px; }
.table-row.level-4 { padding-left: 90px; }
.table-row.level-5 { padding-left: 110px; }
.table-row.level-6 { padding-left: 130px; }
.table-row.level-7 { padding-left: 150px; }
.table-row.level-8 { padding-left: 170px; }
.table-row.level-9 { padding-left: 190px; }
.table-row.level-10 { padding-left: 210px; }
.table-row.level-11 { padding-left: 230px; }
.table-row.level-12 { padding-left: 250px; }

.profile-name {
	display: flex;
	align-items: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.table-button {
	padding: 4px;
	cursor: pointer;
	border-radius: 4px;
}

.table-prefix {
	margin-right: 10px;
}

.table-button > svg {
	display: block;
	fill: #fff;
}

.table-button:hover {
	background-color: #4f4f55;
}

.area-profiling .table-row > *:not(.profile-name) {
	text-align: right;
	justify-self: flex-end;
}

.profile-parent-part, .profile-total-count, .profile-average-count {
	display: none;
}

.profile-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	background-color: #26262a;
	border: 2px solid #fff;
	border-top: 0;
}

.profile-menu-btn {
	padding: 4px 8px;
	cursor: pointer;
}

.area-profiling .table-row.active {
	outline: 2px solid #fff;
	outline-offset: -2px;
}

.area-profiling .table-row span {
	display: none;
}

.report ~ .footer {
	flex-grow: 1;
}

.footer {
	justify-self: flex-end;
	display: flex;
	align-items: flex-end;
	padding: 30px;
	color: #bbb;
}

.footer > *:not(:last-child) {
	margin-right: 30px;
}

.footer a:hover {
	color: #fff;
}

/* Panel Layout */

.report > * {
	grid-column-end: span 12;
}

.area-entities .table-row {
	grid-template-columns: 1fr 1fr 1fr;
}
.area-block-entities .table-row {
	grid-template-columns: 1fr 1fr 1fr;
}
.area-profiling .table-row {
	grid-template-columns: 1fr repeat(2, 80px);
}

.area-stacktrace pre {
	overflow-x: auto;
}

@media screen and (max-width: 480px) {
	.panel {
		font-size: 16px;
		padding: 3px 6px;
	}

	.report {
		padding: 10px 0;
	}

	.card {
		border-radius: 0;
	}

	.table-foot {
		flex-direction: column;
		align-items: center;
	}

	.area-entities .table-row {
		grid-template-columns: 2fr 1fr;
	}
	.area-entities .table-head .table-column:nth-child(3) {
		display: none;
	}
	.area-entities .table-column:nth-child(3) {
		grid-column: 2;
	}

	.area-block-entities .table-row {
		grid-template-columns: 1.2fr 1fr;
	}
	.area-block-entities .table-head .table-column:nth-child(3) {
		display: none;
	}
	.area-block-entities .table-column:nth-child(3) {
		grid-column: 2;
	}

	.area-chunks .table-row {
		grid-template-columns: 1fr 1fr 0.5fr;
	}
	.area-chunks .table-head .table-column:nth-child(2) {
		display: none;
	}
	.area-chunks .table-head .table-column:nth-child(3) {
		display: none;
	}
	.area-chunks .table-column:nth-child(2) {
		grid-column: 1;
	}
	.area-chunks .table-column:nth-child(3) {
		grid-column: 2;
	}
	.area-chunks .table-column:nth-child(4) {
		grid-row: 1;
		grid-column: 2;
	}
	.area-chunks .table-column:nth-child(5) {
		grid-row: 1;
		grid-column: 3;
	}

	.footer {
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;
	}

	.footer > *:not(:last-child) {
		margin-right: 0;
		margin-bottom: 10px;
	}
}

@media screen and (min-width: 481px) {
	.area-chunks .table-row {
		grid-template-columns: 1fr 1fr 0.7fr 1.5fr 0.8fr;
	}
}

@media screen and (min-width: 769px) {
	.area-stats {
		grid-column-end: span 5;
	}
	.area-tick-graph {
		grid-column-end: span 7;
	}
	.area-version {
		grid-column-end: span 6;
	}
	.area-game-options {
		grid-column-end: span 6;
	}
	.area-data-packs {
		grid-column-end: span 6;
	}
	.server-report:not(.client-report)  .area-data-packs {
		grid-row: 1;
		grid-column: 7/span 6;
	}
	.client-report.server-report  .area-resource-packs {
		grid-column-end: span 6;
	}
	.area-options .card-properties {
		columns: 2;
	}
	.area-gamerules .card-properties {
		columns: 2;
	}
	.area-level-stats {
		grid-column-end: span 6;
	}

	.area-profiling .table-row {
		grid-template-columns: 1fr repeat(3, 80px);
	}
	.profile-average-count {
		display: block;
		grid-column: 4;
	}
}

@media screen and (min-width: 1025px) {
	.area-stats {
		grid-column-end: span 6;
	}
	.area-tick-graph {
		grid-column-end: span 6;
	}
	.area-server-metrics {
		grid-column-end: span 6;
	}
	.server-report .area-client-metrics {
		grid-column-end: span 6;
	}

	.profile-parts {
		width: 150px;
	}
	.profile-counts {
		width: 130px;
	}
	.profile-entry span {
		display: inline;
	}
	.area-profiling .table-row {
		grid-template-columns: 1fr repeat(4, 80px) 90px;
	}
	.profile-parent-part {
		display: block;
		grid-column: 2;
	}
	.profile-total-count {
		display: block;
		grid-column: 5;
	}
	.profile-average-count {
		grid-column: 6;
	}
}

@media screen and (min-width: 1201px) {
	.area-software {
		grid-column-end: span 6;
	}
	.area-hardware {
		grid-column-end: span 6;
	}
	.area-options .card-properties {
		columns: 3;
	}
	.area-gamerules .card-properties {
		columns: 3;
	}
	.area-level-stats {
		grid-column-end: span 4;
	}
}
