* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
	background-color: #232327;
	min-height: 100vh;
}

main {
	color: #ffffff;
	white-space: pre;
	font-family: Consolas;
}

.drop {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.drop h1 {
	color: #ddd;
	margin: 0.6em 0;
}

.drop p {
	color: #ccc;
	margin: 0.2em 0;
}

.tabs {
	display: flex;
	list-style: none;
	background-color: #34343a;
}

.tab {
	display: flex;
	min-width: 0;
	align-items: center;
	padding: 6px;
	/* border-top-left-radius: 8px; */
	/* border-top-right-radius: 8px; */
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}

.tab:hover {
	background-color: #2b2b30;
}

.tab.active {
	color: #59acfa;
	background-color: #232327;
}

.tab-name {
	overflow: hidden;
	text-overflow: ellipsis;
}

.tab-remove {
	width: 24px;
	height: 24px;
	display: block;
	border: none;
	background: none;
	border-radius: 4px;
	cursor: pointer;
	fill: #bbb;
	margin-left: 6px;
}

.tab-remove > svg {
	width: 24px;
	height: 24px;
}

.tab-remove:hover {
	background-color: #47474d;
	fill: #fff;
}

.report {
	display: flex;
	flex-direction: column;
	padding: 30px
}

.tick-graph {
	display: flex;
	max-width: 820px;
	height: 150px;
	margin: 10px 0;
	position: relative;
	background-color: #34343a;
	border-radius: 8px;
	overflow: hidden;
}

.tick-value {
	width: 100%;
	position: relative;
}

.tick-value::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: calc(146px * var(--value) / var(--max-value));
	--hue: calc(180deg - 180deg * var(--value) / var(--max-value));
	background-color: hsla(min(var(--hue), 120deg), 97%, 56%, 0.808);
	/* transition: background-color 0.2s; */
}

.tick-value:hover::before {
	outline: 1px solid #fff;
	z-index: 1
	/* background-color: hsla(clamp(var(--hue), 0deg, 100deg), 100%, 70%, 1); */
}

.tick-value:hover::after {
	counter-reset: value var(--value);
	content: counter(value);
	position: absolute;
	margin: 0 4px;
	z-index: 1;
	bottom: 0;
	left: 100%;
	pointer-events: none;
	color: #fff;
}

.tick-value:nth-last-child(-n+50):hover::after {
	right: 100%;
	left: initial;
}

.tick-title {
	position: absolute;
	top: 0;
	left: 0;
	margin: 10px;
	z-index: 1;
}

.tick-info {
	position: absolute;
	top: 0;
	right: 0;
	margin: 10px;
	z-index: 1;
}
